.health-0 td {
background-color: #0ff !important;
}
.health-1 td {
background-color: #FFF4B9 !important;
}
.health-2 td {
background-color: #FF8F87 !important;
}
.service-disabled {
opacity: 0.4;
}
.lines path {
stroke-width: 3px;
}
#monitoring-top-nav{
	background: #fff;
	color: #000;
	border-bottom: #08c 1px solid;
}
#monitoring-top-nav li a{
	color: #000;
}
 #monitoring-top-nav .uk-navbar-nav > li:hover > a, .uk-navbar-nav > li > a:focus, .uk-navbar-nav > li.uk-open > a{
	background-color: #1572ea;
	color: #fff;
}
 #monitoring-top-nav .uk-navbar-nav > li:active > a, .uk-navbar-nav > li > a:active, .uk-navbar-nav > li.uk-open > a{
	background-color: #1572ea;
	color: #fff;
}
#monitoring-top-nav li.uk-open a {
	color: #fff;
}
#monitoring-top-nav .uk-dropdown-navbar li a {
	color: #000;
}
#monitoring-top-nav .uk-dropdown-navbar li a:hover {
	color: #fff;
}
 #monitoring-top-nav .uk-navbar-nav > li:hover > a, .uk-navbar-nav > li > a:hover, .uk-navbar-nav > li.uk-open > a{
	background-color: #1572ea;
	color: #fff;
}
#monitoring-top-nav .uk-navbar-nav > li:hover > #logo {
	background-color: #0fa;
	-webkit-filter: invert(100%);
    filter: invert(100%);
}
input[type="text"] {
  padding: 0px;
  width:90%;
  border: solid 0px;
  background-color: rgba(0, 0, 0, 0);
}
/* #gauges td  { transition: all .2s ease-in-out; }
#gauges td:hover  { transform: scale(1.1); background-color: #eee; } */
