<head>
    <title>Monitoring</title>
    
    <link rel="stylesheet" href="/assets/css/app.css" />
    <link rel="stylesheet" href="/assets/css/components/notify.almost-flat.min.css" />
    <link rel="stylesheet" href="/assets/css/monitoring.css" />
    <link rel="stylesheet" href="/assets/css/font-awesome-4.5.0/css/font-awesome.min.css">
    
    <script src="/assets/js/jquery-1.10.2.min.js"></script>
    <script src= "/assets/js/angular/angular.min.js"></script>
    <script src="/assets/js/ng-order-object-by.js"></script>
    <script type="text/javascript" src="/assets/js/loader.js"></script>
    <script src="/assets/js/uikit.min.js"></script>
    <script src="/assets/js/highlight.js"></script>
    <script src="/assets/js/merge.min.js"></script>
    <script src="/assets/js/session.js"></script>

    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#2B3B45">
    <meta name="msapplication-navbutton-color" content="#2B3B45">
    <meta name="apple-mobile-web-app-status-bar-style" content="#2B3B45">
</head>