<!DOCTYPE html>
<html>
    {{ template "head.html" }}
    <body ng-controller="MainCtrl">
        
        {{ template "menu-open.html" }}
        {{ template "menu-close.html" }}
        <div class="uk-container uk-container-center" style="padding-top: 30px">
            
            <div class="uk-grid" data-uk-grid-margin="">
                <div class="uk-width-medium-1-1 uk-row-first">
                    <div class="uk-vertical-align uk-text-center uk-contrast" style="background: #000; height: 450px;">
                        <div class="uk-vertical-align-middle uk-width-1-2">
                            <h1 class="uk-heading-large">Monitoring</h1>
                            <p class="uk-text-large">Simple monitoring for statistics and services.</p><p class="uk-text-large">Notifies you when something is not responding the way it should, when it should.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin="">
                <div class="uk-width-medium-1-2 uk-row-first">
                    <div class="uk-grid">
                        <div class="uk-width-1-6">
                            <i class="uk-icon-thumbs-o-up uk-icon-large uk-text-primary"></i>
                        </div>
                        <div class="uk-width-5-6">
                            <h2 class="uk-h3">Free and open source</h2>
                            <p>This project is free as in freedom. Source code can be found in our Git repository and is licensed under LGPL.</p>
                        </div>
                    </div>
                </div>
                <div class="uk-width-medium-1-2">
                    <div class="uk-grid">
                        <div class="uk-width-1-6">
                            <i class="uk-icon-cloud uk-icon-large uk-text-primary"></i>
                        </div>
                        <div class="uk-width-5-6">
                            <h2 class="uk-h3">Lightweight</h2>
                            <p>Extremely suitable for small servers, virtual machines and containers.</p>
                        </div>
                    </div>
                </div>
            </div>


        </div>


    </body>
</html>