				<li><a href="/login" id="loginbtn"> </a></li>
            </ul>
        </div>
    </div>
</nav>

		<div id="canvasmenucontainer" class="uk-offcanvas">
			<div class="uk-offcanvas-bar">
				<ul id="canvasmenu" class="uk-nav uk-nav-offcanvas" data-uk-nav>
					<li><a ng-click="start()"><i class="fa fa-play"></i> Start</a></li>
					<li><a ng-click="stop()"><i class="fa fa-pause"></i> Stop</a></li>
					<li><a ng-click="updateList()"><i class="fa fa-cloud-upload"></i> Reload list</a></li>
				</ul>
			</div>
		</div>
