<!DOCTYPE html>
<html ng-app="myApp">

{{ template "head.html" }}

<body ng-controller="MainCtrl">

    {{ template "menu-open.html" }}
    <li class="uk-parent" data-uk-dropdown="" aria-haspopup="true" aria-expanded="false">
        <a href="" title="{{"{{"}} selectedHostIdentifier {{"}}"}}"><i class="fa fa-server"></i> Switch server</a>
        <div class="uk-dropdown uk-dropdown-navbar">
            <ul class="uk-nav uk-nav-navbar">
                <li ng-repeat="item in servers | orderBy:'-Identifier'" ng-show="item.Visible == true"><a ng-click="changeHost(item.HostID)">{{"{{"}} item.Identifier  {{"}}"}}</a>
                </li>
            </ul>
        </div>

    </li>
    {{ template "auto-refresh.html" }}



    {{ template "menu-close.html" }}

    <!-- This is the modal -->
<div id="graphContainerModal" class="uk-modal">
    <div class="uk-modal-dialog">
        <a class="uk-modal-close uk-close"></a>
        <div id="graphContainerModalDraw"></div>
    </div>
</div>


    <div class="" style="padding: 30px">

        <h1 style="font-size: calc(1em + 1vmin);">{{"{{"}} stats[0].Hostname  | uppercase {{"}}"}}</h1>

        <div class="uk-grid" id="contentGrid">
            <div class="uk-width-large-3-3 uk-width-medium-1-3">
                <div class="uk-panel uk-panel-box">
                    <a class="uk-panel-badge uk-badge" ng-click="getData()">Refresh</a>

                    <h3 class="uk-panel-title">Info</h3>

                    <dl class="uk-description-list-horizontal">

                        <dt>Identifier</dt>
                        <dd><input type="text" ng-model="selectedHostIdentifier" onclick="select()" readonly/>&nbsp;</dd>

                        <dt>Freq (s)</dt>
                        <dd><input type="text" ng-model="stats[0].Frequency" onclick="select()" readonly/>&nbsp;</dd>

                        <dt>Connections</dt>
                        <dd><input type="text" ng-model="stats[0].Connections" onclick="select()" readonly/>&nbsp;</dd>

                        <dt>Hostname</dt>
                        <dd><input type="text" ng-model="stats[0].Hostname" onclick="select()" readonly/>&nbsp;&nbsp;</dd>

                        <dt>Uptime (days)</dt>
                        <dd><input type="text" ng-model="stats[0].Uptime / 60 / 60 / 24 | number:1" onclick="select()" readonly/>&nbsp;&nbsp;</dd>

                        <dt>Latency</dt>
                        <dd><input type="text" ng-model="stats[0].Ping" onclick="select()" readonly/>&nbsp;</dd>

                        <dt>NIC <input type="text" ng-model="stats[0].SSID" onclick="select()" readonly/></dt>
                        <dd><input type="text" ng-model="stats[0].Nic" onclick="select()" readonly/>&nbsp;</dd>

                        <dt>RX (MB)</dt>
                        <dd><input type="text" ng-model="stats[0].Rx /1024/1024 | number:2" onclick="select()" readonly/>&nbsp;</dd>

                        <dt>TX (MB)</dt>
                        <dd><input type="text" ng-model="stats[0].Tx /1024/1024 | number:2" onclick="select()" readonly/>&nbsp;</dd>

                        <dt>RX Differences</dt>
                        <dd><input type="text" ng-model="stats[0].Rxdiff" onclick="select()" readonly/>&nbsp;</dd>

                        <dt>TX Differences</dt>
                        <dd><input type="text" ng-model="stats[0].Txdiff" onclick="select()" readonly/>&nbsp;</dd>

                        <dt>IPv4 ({{"{{"}}stats[0].Nic{{"}}"}})</dt>
                        <dd><input type="text" ng-model="stats[0].Ipv4" onclick="select()" readonly/>&nbsp;</dd>

                        <dt>IPv4 (public)</dt>
                        <dd><input type="text" ng-model="stats[0].Ipv4Public" onclick="select()" readonly/>&nbsp;</dd>

                        <dt>IPv6</dt>
                        <dd><input type="text" ng-model="stats[0].Ipv6" onclick="select()" readonly/>&nbsp;</dd>

                        <dt>Operating System</dt>
                        <dd><input type="text" ng-model="stats[0].Osname + ' ' + stats[0].Osarch" onclick="select()" readonly/>&nbsp;</dd>

                    </dl>
                    <div></div>


                </div>



                <div class="uk-panel uk-panel-box" style="">
                    <h3 class="uk-panel-title">Load</h3>
                    <div class="uk-accordion" data-uk-accordion>

                        <h3 class="uk-accordion-title">System load</h3>
                        <div class="uk-accordion-content"><div><div id="load" style="height: 200px;"></div></div></div>

                        <h3 class="uk-accordion-title">CPU %</h3>
                        <div class="uk-accordion-content"><div id="cpu" style="height: 200px;"></div></div>

                        <h3 class="uk-accordion-title">IO</h3>
                        <div class="uk-accordion-content"><div id="io" style="height: 100px;"></div></div>

                    </div>
                </div>



            </div>
            <div class="uk-width-large-3-3 uk-width-medium-1-3">

                <div class="uk-panel uk-panel-box" style="">
                    <h3 class="uk-panel-title">Networking</h3>
                    <div>

                    </div>
                    <div class="uk-accordion" data-uk-accordion>

                        <h3 class="uk-accordion-title">Traffic</h3>
                        <div class="uk-accordion-content"><div id="traffic" style="height: 200px;"></div></div>

                        <h3 class="uk-accordion-title">Ping</h3>
                        <div class="uk-accordion-content"><div id="ping" style="height: 170px;">ping</div></div>

                    </div>
                </div>

                <div class="uk-panel uk-panel-box" style="">
                    <h3>Memory (MB)</h3>
                    <div><div id="ram" style="height: 160px;">ram</div></div>
                </div>

                <div class="uk-panel uk-panel-box" style="">
                    <h3>Disk (GB)</h3>
                    <div><div id="disk" style="height: 160px;">disk</div></div>
                </div>




            </div>
            <div class="uk-width-large-3-3 uk-width-medium-1-3 uk-sortable" data-uk-sortable>



                 <div class="uk-panel uk-panel-box">

                     <table id="gauges" style="width:100%; text-align: center;">
                        <tr>
                            <td width="33%">CPU<div id="cpuGauge" style="height: 87px;"></div></td>
                            <td width="33%">LOAD<div id="loadGauge" style="height: 87px;"></div></td>
                            <td width="33%">RAM<div id="memoryGauge" style="height: 87px;"></div></td>
                        </tr>
                    </table>
                    <div title="Next update" class="uk-progress uk-progress-mini uk-progress-striped uk-active">
    <div class="uk-progress-bar" id="nextUpdateBar" style="width: 0%;"></div>
</div>
                </div>

                 <div class="uk-panel uk-panel-box" ng-show="services.length">

                    <h3 class="uk-panel-title" >Attached services</h3>
                    <table class="uk-table uk-table-hover" ng-show="services.length">
                        <thead>
                            <tr>
                                <th>Identifier</th>
                                <th>Health</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-uk-tooltip="{pos:'top'}"  ng-attr-title="{{"{{"}} x.Output  {{"}}"}}" ng-class="{ 'service-disabled': x.enabled == false, 'health-2': x.Health == 2, 'health-1': x.Health == 1 }" ng-repeat="x in services | orderObjectBy : 'Health' : true">
                                <td>{{"{{"}} x.identifier {{"}}"}}</td>
                                <td><i ng-show="x.Health == 2" class="fa fa-times   uk-badge uk-badge-danger"></i>
                                    <i ng-show="x.Health == 1" class="fa fa-exclamation-triangle uk-badge uk-badge-warning"></i>
                                    <i ng-show="x.Health == 0" class="fa fa-check uk-badge uk-badge-success"></i>
                                    <i ng-show="x.Health < 0" class="fa fa-circle-thin uk-badge"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="uk-panel uk-panel-box">
                    <h3 class="uk-panel-title">Processes</h3>
                    <table style="width:100%; text-align: center;">
                        <tr>
                            <td width="50%">CPU <div id="processPieCPU"></div></td>
                            <td width="50%">RSS <div id="processPieRSS"></div></td>
                        </tr>
                    </table>
                    <table class="uk-table uk-table-hover">
                        <thead>
                            <tr>
                                <th>User</th>
                                <th>CPU</th>
                                <th>RSS</th>
                                <th>Process</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="p in processesng">
                                <td>{{"{{"}} p.user {{"}}"}}</td>
                                <td>{{"{{"}} p.cpu {{"}}"}}</td>
                                <td>{{"{{"}} p.rss {{"}}"}}</td>
                                <td>{{"{{"}} p.proc {{"}}"}}</td>
                            </tr>
                        </tbody>
                    </table>



                </div>


            </div>
        </div>


       <script src="/assets/js/angular/stats.js"></script>

<!--
        <button ng-click="buildGraphs()">Change data source</button>
 -->


</body>

</html>
